.header-container{
      @include flex(row, space-between, center);
      padding-top: 20px;
      padding-bottom: 25px;

      .header__logo{
            width: 50px;
            height: 50px;
      }
      .header__nav{
            @include flex($gap: 30px);
            height: 100%;

            .nav__link{
                  @include flex();
                  padding: 20px 20px;
                  font-size: 1em;
                  border-radius: 4px;
                  background: transparent;
                  transition: .5s;

                  &:hover{
                        background: #4d4d4d;
                        color: #fff;
                  }
            }
      }
}