.hero {
      background-image: url("../assets/hero-bg.jpg");
      background-size: 100%;
      background-repeat: no-repeat;
      height: 550px;
}
.hero-container {
      height: 100%;
      @include flex(column, start, start, 30px);
      padding-top: 100px;

      .hero__title {
  max-width: 670px;
  font-size: 1.75em;
     color: #fff;
    text-shadow:
    0px 0px 2px #303030,
    0 0 1em #303030,
    0 0 0.2em #303030;
	font-weight: 200;
      }
}
