.btn {
      padding: 20px;
      border-radius: 20px;
      background: #fff;
      color: #605d5c;
      font-size: 1.65em;
      transition: 0.5s;

      &:hover {
            background: #4d4d4d;
            color: #fff;
      }
}
